# Ansible
*.retry
.vault_pass
*.vault
group_vars/*/vault.yml
host_vars/*/vault.yml
collections/

# Python
.venv/
__pycache__/
*.pyc

# Editor / OS
.DS_Store
*.swp
.idea/
.vscode/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/*.auto.tfvars
terraform/crash.log
terraform/crash.*.log
